.recentWorks{
	@include desktop{
		width: 1076px;
		margin: 0 auto;
	}
		
	.recentWorks__text{
		padding: 50px 25px 50px 25px;

		h2{
			font-size: 2rem;
			text-align: center;
			padding-bottom: 30px;
			text-transform: uppercase;
		}

		p{
			
			text-align: center;
		}

		.separator {
		    width: 10px;
		    height: 10px;
		    margin: 20px auto;
		    background: #e74c3c;
		    position: relative;
		    display: block;
		    border-radius: 50%;
		}

		.separator:before {
		    position: absolute;
		    right: 5%;
		    bottom: 4px;
		    height: 1px;
		    width: 80px;
		    background: #eee;
		    content: "";
		    display: inline-block;
		    margin-right: 20px;
			}

			.separator:after {
			    position: absolute;
			    left: 5%;
			    bottom: 4px;
			    height: 1px;
			    width: 80px;
			    background: #eee;
			    content: "";
			    display: inline-block;
			    margin-left: 20px;
			}


	}

	.recentWorks__container{


		ul{
			padding: 0px 25px 50px 25px;
			text-align: center;

	

			li{
				display: inline-block;
				padding: 10px 20px;
				font-size: 0.9rem;
				text-align: center;
				text-transform: uppercase;
				cursor: pointer;
				border: 2px solid grey;
				border-radius: 20px;
				margin-bottom: 10px;
				margin-right: 5px;
				color: grey;
				font-weight: bolder;
				box-sizing: border-box;
			}

			li:hover{
				border-color: black;
				color: black;
			}

			.hov{
				border-color: black;
				color: black;
			}
		}

		.recentWorks__container--portfolio {
			width: 100%;
			height: auto;
			padding-bottom: 50px;

			@include desktop{
				height: auto;
				width: 1076px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			

			.recentWorks__img--figure{
				position: relative;
				transition: all 0.4s ease-in-out;
				

				@include tablet{
					height: 500px;
					width:70%;
					margin: 0 auto;
				}
				
				@include desktop{
					width: 33.333%;
					height: 350px;
				}

				img{
					height: 100%;
					width: 100%;

					@include desktop{
						height: 100%;
						width: 100%;
					}
				}
			}

			.recentWorks__container--overlay{
				width: 80%;
				height: 80%;
				position: absolute;
				opacity:0;
				background-color: rgba(231,76,60,0.6);
				left: 10%;
				top: 10%;
				transition: 0.9s;
				

				h3{
					padding: 150px 0px 10px 40px;
					font-size: 1.5rem;
					color: #fff;

				}
				p{
					padding-left: 40px;
					font-size: 1.1rem;
					color: #fff;
				}

			}
		}

		.recentWorks__img--figure:hover .recentWorks__container--overlay{
			opacity: 1;
			transform: scale(1.1);
			
		}


			.hiden{
				transform: scale(0);
				width: 0;
				padding: 0;
				transition: all 0.4s ease-in-out;
				display: none;
			}


	}
	.class{
		background-color: orange !important;
	}



}